<h1>Daniel Lorenzo</h1>
{{title}}
<br>
{{city.toLocaleUpperCase()}}
<br>
{{1+6}}
<app-user></app-user>
<div>Extraídos de más de 400 mil materias y 55 publicaciones, los resultados del estudio cuestionan la opinión de que la única cosa que las personas quieren son "materias blandengues (Justin Bieber), asuntos rápidos, sin profundidad, o 'artículos- listas' (‘7 cosas que tu debes saber sobre el cabello de Donald Trump’)", dice el director-executivo del API, Tom Rosenstiel.</div>

<div>La sabiduría convencional de que un texto para a Internet debe ser corto y rápido, y de que escribir para aplicativos móviles debe ser todavía más abreviado simplemente no corresponde a la verdad", escribe Rosenstiel.</div>

@defer () {
    <app-comments></app-comments>

}

@placeholder {
    <p>.</p>
}

@loading (minimum 1s) {
    <p>Cargando componente de comentarios</p>
}